@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';
@font-face {
    font-family: "IRANSansXFaNum";
    src: url("../assets/fonts/IRANSansXFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "IRANSansXFaNum", sans-serif;
    direction: rtl;
    text-align: right;
}
